<h2>Wicked PDF</h2>
<p>Wicked PDF uses the shell utility <a href="http://code.google.com/p/wkhtmltopdf/" target="_blank">wkhtmltopdf</a> to serve a PDF file to a user from HTML. In other words, rather than dealing with a PDF generation DSL of some sort, you simply write an HTML view as you would normally, then let Wicked take care of the hard stuff.</p>
<p><%= link_to "Documentation", "https://github.com/mileszs/wicked_pdf", :target => '_blank' %></p>
